.body{
  margin: 0;
}
a{
  color: white;
  text-decoration: none;
  font-size: 30px;
}
.topimg{
  width: 100%;
}


.HEADING{
  position: fixed;
  top: 0;
  background-color: #EAF3FA;
  font-size: 45px;
  font-family: "Gill Sans", sans-serif;
  margin-bottom:10%;
  margin-top:0;
  width: 100%;
}
.textlayer{
  display: block;
}

.bookimg{

}


.notesimg{



}
.lectureimg{


}
.timetableimg{

}
.quizimg{

}
.updateimg{

}
.tutorial-img{
width:250px;
}
.Notes-img{
  width:250px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 30px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: static;
  display: inline-block;
  font-size: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "Gill Sans", sans-serif;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}



.bottom
{ background-color: black;

}
.logoimg{
  position: absolute;
  bottom:90px;
}
.bottom{
  font-family: "Gill Sans", sans-serif;
}
.top{

position: relative;
left:auto;
}
.body{
  margin: 0;
  padding: 0;
}
